body{
    background-color: #f3f3f3;
    text-align: center;
}
.App{
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0,0,0.3);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 750px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
h1{
    font-size: x-large;
    text-align: center;
    color: #327c35;
}
fieldset{
    border: none;
}
input{
    display: block;
    width: 100%;
    /* margin-bottom: 15px; */
    padding: 8px;
    box-sizing: border-box;
    border: 1px soils #ddd;
    border-radius: 3px;
    font-size: 12px;
}
input[type="radio"], input[type="checkbox"]{
    display: inline;
    width: 10%;
}
select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
button{
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 40%;
    font-size: 16px;
}
textarea{
    resize: none;
    width: 95%;
    min-height: 100px;
    max-height: 150px;
}