*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    color: black ;
}

.container{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.time{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.date{
    font-size: 2rem;
    font-weight: 300;
    color: coral;
}
