.card{
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
  max-width: 50vw;
}
.container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
nav ul{
  display: flex;
  gap: 4px;
  background-color: blanchedalmond;
  margin: 0;
  padding: 10px 3px;
}
li{
  list-style: none;
  margin: 15px;
}