* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: 'roboto', sans-serif;
    background-color: #f0f0f0;
}
.calculator{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

input{
    width:100%;
    font-size: 2.2em;
    padding: 10px;
    border: none;
    background-color: #f7f7f7;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 17px;
    color: #333;
    font-weight: bold;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}


.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

button{
    font-size: 1.5em;
    padding: 15px;
    background-color: #eef1f7;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

button:active{
    transform: scale(0.98);
}
button:hover{
    background-color: #d4d9e6;
}
button:nth-child(-n+4){
    background-color: #4a90e2;
    color: #333;
    font-weight: bold;
}
button:nth-child(-n+4):hover{
    background-color: #357abd;
    color: #fff;
}
.clear{
    background-color: #f55c47;
    color: white;
    font-weight: bold;
}
.clear:hover{
    background-color: #d43d2f;
}
.equal{
    background-color: lawngreen;
    font-weight: bold;
    color:white;
    grid-column: span 2;
}

.equal:hover{
    background-color: darkgreen;
}
button:not(.clear):not(.equal):not(:nth-child(-n+4)){
    background-color: lightblue;
    color: #000;
}
button:not(.clear):not(.equal):not(:nth-child(-n+4)):hover{
    background-color: #90caf9;
}