*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    background:#f4f4f4;
    color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1e293b;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}
.search-bar{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}
.search-bar input{
    flex: 1; /* Fills remaining spaces*/
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}
.search-bar input:focus{
    border-color: #1e293b;
    box-shadow: 0 0 5px rgba(30, 41, 59, 0.5);
}

.search-bar button{
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.search-bar button:hover{
    cursor: pointer;
    background-color: grey;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.product-container{
    display: flex;
     gap: 40px;
     padding: 50px;
     max-width: 1200px;
     margin: 0 auto;
}
.product-gallery{
    flex: 1;
}
.product-gallery img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.thumbnail{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.thumbnail img{
    width: 80px;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s ease, border 0.3s ease;
}
.thumbnail img:hover{
    transform: scale(1,1);
    border: 2px solid gold ;
}

/* Product details*/

.product-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    max-width: 100% ;

}
.product-details h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #1e293b;
    margin-bottom: 15px;
}

.brand{
    font-size: 1rem;
    text-transform: uppercase;
    color: #1e293b;
    margin-bottom: 10px;
}
.price{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.current-price{
    color: #1e293b;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
    margin-left: 10px;
    color: #aaa;
}
.discount{
    color: #1e293b;
    margin-left: 30px;
}
.description{
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}
.ratings{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #555;
}
.ratings p{
    margin-left: 10px;
    font-size: 0.7rem;
    color: #555;
}
.quantity-selection{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}
.quantity-selection button{
    background-color: #1e293b;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.quantity-selection input{
    width: 50px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.add-to-cart{
    background-color: #1e293b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-bottom: 20px;
}
.add-to-cart:hover{
    background-color: #0f172a;
    cursor: pointer;
}

/*Promotion section*/
.promotion{
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 60%;
}
.promotion h3{
    font-size: 1.2rem;
    color: #1e293b;
    margin-bottom: 10px;
}
.promotion p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.promo-btn{
    padding: 10px 20px;
    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.promo-btn:hover{
    background-color: #0f172a;
}
footer{
    text-align: center;
    padding: 20px;
    background: #1e293b;
    color: white;
    margin-top: 40px;
}